/* Courses.css */
.courses-container {
    padding: 50px;
    background-color: #f9f9f9;
  }
  
  .courses-container h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .course-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .course-card h3 {
    font-size: 2rem;
    color: #007BFF;
  }
  
  .course-card p {
    font-size: 1rem;
    color: #555;
  }
  .search{
    padding: 7px;
    border: 2px solid slategray;
    width: 250px;
    height: 45px;
    border-radius: 50px;
    margin-left: 75%;
    margin-top: 0px;
  }
  .cart{
   color: #007BFF;
  }
  .courses{
    padding: 25px;
  }