/* Home.css */
.home-container {
    text-align: center;
    padding: 50px;
    background-color: #fff;
    margin-top: 20px;
  }
  
  .home-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .home-container p {
    font-size: 1.2rem;
    color: #555;
  }
  