/* index.css */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7fc;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
